<footer class="footer-bottom bg-primary">

  <!-- <div class="container"> -->

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="copyright">

          © 2005-2018 Manish Kumar Verma. All Rights Reserved.

        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="design">

          Guidelines for Prospective Suppliers | Company Policies and Procedures

        </div>

      </div>

    </div>

  <!-- </div> -->

</footer>