<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#"><img src="https://image.flaticon.com/icons/png/512/355/355980.png" alt="image" style="width:50px"></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/search-address']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/search-address']">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/logout']">Logout</a>
      </li> 
    </ul>
  </div> 
</nav>

